
<div class="card">
  <p-table
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 20]"
  >
      <ng-template pTemplate="header">
          <tr>
              <th class="text-sm" style="width:25%">Name</th>
              <th class="text-sm" style="width:25%">Country</th>
              <th class="text-sm" style="width:25%">Company</th>
              <th class="text-sm" style="width:25%">Representative</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
          <tr>
              <td class="text-sm">name</td>
              <td class="text-sm">country</td>
              <td class="text-sm">company</td>
              <td class="text-sm">representative</td>
          </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
          <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
          <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
      </ng-template>
  </p-table>
</div>
<div class="card flex flex-wrap justify-content-center gap-3 mt-2">
  <p-iconField iconPosition="right">
      <p-inputIcon>
        <svg-icon src="assets/icons/heroicons/outline/search.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
      </p-inputIcon>
      <input type="text" pInputText placeholder="Search" />
  </p-iconField>
  <p-iconField iconPosition="right">
      <p-inputIcon styleClass="pi pi-spinner pi-spin" />
      <input type="text" pInputText />
  </p-iconField>
</div>

